<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ site.baseurl }}/"><img class="nav-image" src="{{site.baseurl}}/img/wac_logo_full.png" alt="WAC Logo"/></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item{% if page.layout == 'frontend' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/frontend/">Frontend</a>
      </li>
      <li class="nav-item{% if page.category == 'backend' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/backend/">Backend</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://matthewwang.me/paleta/wac/overview/">Style Guide</a>
      </li>
    </ul>
    <ul class="navbar-nav float-lg-right">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/worldaffairsconference/"><span class="fa fa-github"></span> GitHub</a>
      </li>
    </ul>
  </div>
</nav>
