// Removes sideways scrollbar, and always has a full background.
html{
	position: relative;
	min-width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

// Sets default font to Nexa, pads content so the navbar doesn't overlap, and sets a default background and text colour.
body{
	min-width: 100%;
  min-height: 100%;
	font-family:Nexa;
	padding-top: 4*$spacing-unit;
	padding-bottom: $spacing-unit;
}

// Code

pre {
  border: 1px solid $color-primary;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Navbar CSS

.mobile-nav{
	font-size: 1.5*$spacing-unit;
}

.mobile-nav-section{
	padding-top: 0.5*$spacing-unit;
}

.nav-image{
	height: 30px;
	width: auto;
}

// Icon Manipulation

.black-icon{
	color: black;
}
a.black-icon:hover{
	color: black;
}
a.black-icon:visited{
	color:black;
}

// General Section

.section{
  padding-top: 1em;
  padding-bottom: 1em;
}

// Sidebar CSS
.main-menu ul {
  list-style-type: none;
	padding: 0;
}
#sidebar-menu{
  position:fixed;
  .main-menu{
    a {
      display: block;
    	color: #999;
    	padding: 4px 20px;
    }
    a:hover {
    	color: $color-primary;
    	text-decoration: none;
    	background-color: transparent;
    	border-left: 1px solid $color-primary;
    }
  }
  .sub-menu a {
  	padding-top: 1px;
  	padding-bottom: 1px;
  	padding-left: 30px;
  }
}
.sidebar-divider{
  border-top: 1px solid $color-primary;
}
